---
import {Image} from "astro:assets";

const { image, title, description } = Astro.props;
---

<li class="flex flex-row gap-4 items-start md:items-center">
    <div class="bg-magenta-500 w-[50px] h-[50px] rounded-[20%] flex items-center justify-center mt-2 md:mt-0">
        <Image class="select-none w-[25px] h-[25px] pointer-events-none" src={image} alt={title} />
    </div>
    <div class="w-[90%]">
        <h3 class="text-xl font-bold">{title}</h3>
        <p class="text-gray-paragraph text-md">{description}</p>
    </div>
</li>
